{% extends "main_template.html.twig" %}

{% block page %}

    <!-- Begin Preloader -->
    <div class="preloader-wrapper">
        <div class="preloader">
            <img src="img/preloader.gif" alt="" />
        </div>
    </div>
    <!-- End Preloader-->
    <!-- Begin Scroll Up Button -->

    <form action="#home">
        <button id="toTop" title="Go to top">
            <i class="fas fa-angle-up"></i>
        </button>
    </form>
    <!-- End Scroll Up Button -->

    <!-- Begin Header -->
    <div class="header-wrapper" id="home">
        <!-- Begin Hero -->
        <section class="hero is-large">
            <!-- Begin Mobile Nav -->
            <nav class="navbar is-transparent is-hidden-desktop">
                <!-- Begin Burger Menu -->
                <div class="navbar-brand">
                    <div class="navbar-burger burger" data-target="mobile-nav">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- End Burger Menu -->
                <div id="mobile-nav" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <a class="navbar-item" href="#home">
                                Home
                            </a>
                        </div>
                        <div class="navbar-item">
                            <a class="navbar-item" href="#about-me">
                                About Me
                            </a>
                        </div>
                        <div class="navbar-item">
                            <a class="navbar-item" href="#skills">
                                Skills
                            </a>
                        </div>
                        <div class="navbar-item">
                            <a class="navbar-item" href="#contact">
                                Contact
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- End Mobile Nav -->
            <!-- Begin Hero Content-->
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="subtitle">Hey there, I'm</h1>
                    <h2 class="title">Thomas</h2>
                    <h1 class="subtitle profession">A backend junior developer</h1>
                </div>
            </div>
            <!-- End Hero Content-->
            <!-- Begin Hero Menu -->
            <div class="hero-foot ">
                <div class="hero-foot--wrapper">
                    <div class="columns">
                        <div class="column is-12 hero-menu-desktop has-text-centered">
                            <ul>
                                <li class="is-active">
                                    <a href="#home">Home</a>
                                </li>
                                <li>
                                    <a href="#about-me">About Me</a>
                                </li>
                                <li>
                                    <a href="#skills">Skills</a>
                                </li>
                                <li>
                                    <a href="#contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Hero Menu -->
        </section>
        <!-- End Hero -->
    </div>
    <!-- End Header -->

    <!-- Begin Main Content -->
    <div class="main-content">
        <!-- Begin About Me Section -->
        <div class="section-light about-me" id="about-me">
            <div class="container">
                <div class="column is-12 about-me">
                    <h1 class="title has-text-centered section-title">About Me</h1>
                </div>
                <div class="columns is-multiline">
                    <div
                            class="column is-6 has-vertically-aligned-content"
                            data-aos="fade-right"
                    >
                        <p class="is-larger">
                            &emsp;&emsp;<strong
                            >Welcome on my personal blog. Where you will learn on my works, my skills and me.
                            you can also look at my Blog get me contacts infos</strong
                            >
                        </p>
                        <br />
                        <p>
                            I am a junior Web developer in search of making reel project in order to
                            learn and dévelop programming skills.
                        </p><br>
                        <p>
                            I am interest in strategic game like chess and in many subject like economic
                            geopolitics or science.
                        </p>
                        <br />
                        <div class="is-divider"></div>
                        <div class="columns about-links">
                            <div class="column">
                                <p class="heading">
                                    <strong>Give me a ring</strong>
                                </p>
                                <p class="subheading">
                                    123-456-7890
                                </p>
                            </div>
                            <div class="column">
                                <p class="heading">
                                    <strong>Email Me</strong>
                                </p>
                                <p class="subheading">
                                    ths.rousse@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="column is-6 right-image " data-aos="fade-left">
                        <img
                                class="is-rounded"
                                src="Public/images/echec.jpg"
                                alt=""
                        />
                    </div>
                </div>
            </div>
        </div>
        <!-- End About Me Content -->
        <div class="section-dark resume">
            <div class="container">
                <div
                        class="columns is-multiline"
                        data-aos="fade-in"
                        data-aos-easing="linear"
                >
                    <div class="column is-12 about-me">
                        <h1 class="title has-text-centered section-title">
                            View My Resume
                        </h1>
                    </div>
                    <div class="column is-10 has-text-centered is-offset-1">
                        <form action="example.docs">
                            <button class="button">
                                <a href="Public/images/cv_thomas_rousse_data.pdf">
                                Download Resume&emsp;<i class="fad fa-download fa-lg"></i>
                                </a>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Begin Skills Content -->
        <div class="section-light skills" id="skills">
            <div class="container">
                <div class="columns is-multiline">
                    <div class="column is-12 about-me">
                        <h1 class="title has-text-centered section-title">Skills</h1>
                    </div>
                    <div
                            class="column is-6"
                            data-aos="fade-in"
                            data-aos-easing="linear"
                    >
                        <h1 class="has-text-centered has-text-weight-bold">Web skills</h1>
                        <h2>PhP Backend</h2>
                        <progress class="progress" value="75" max="100">30%</progress>
                        <h2>Node.js Backend</h2>
                        <progress class="progress" value="60" max="100">40%</progress>
                        <h2>React.js frontend</h2>
                        <progress class="progress" value="70" max="100">30%</progress>
                        <h2>Bulma/Scss</h2>
                        <progress class="progress" value="50" max="100">50%</progress>
                    </div>
                    <div
                            class="column is-6"
                            data-aos="fade-in"
                            data-aos-easing="linear"
                    >
                        <h1 class="has-text-centered has-text-weight-bold">Other skills</h1>
                        <h2>Scrapping</h2>
                        <progress class="progress" value="80" max="100">20%</progress>
                        <h2>Data analyse</h2>
                        <progress class="progress" value="50" max="100">50%</progress>
                        <h2>R studio</h2>
                        <progress class="progress" value="50" max="100">50%</progress>
                        <h2>elastic stack</h2>
                        <progress class="progress" value="60" max="100">60%</progress>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Skills Content -->
        <!-- Begin Contact Content -->
        <div class="section-light contact" id="contact">
            <div class="container">
                <div
                        class="columns is-multiline"
                        data-aos="fade-in-up"
                        data-aos-easing="linear"
                >
                    <div class="column is-12 about-me">
                        <h1 class="title has-text-centered section-title">
                            Send me an email
                        </h1>
                    </div>
                    <div class="column is-8 is-offset-2">
                        <form
                                id="mailForm"
                        >
                            <div class="field">
                                <label class="label">Name</label>
                                <div class="control has-icons-left">
                                    <input
                                            class="input"
                                            type="text"
                                            placeholder="Ex. Jane Smith"
                                            name="name"
                                    />
                                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">mail</label>
                                <div class="control has-icons-left">
                                    <input
                                            class="input"
                                            type="email"
                                            placeholder="Ex. hello@arctheme.com"
                                            name="mail"
                                    />
                                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Message</label>
                                <div class="control">
                    <textarea
                            class="textarea"
                            placeholder="Textarea"
                            name="content"
                    ></textarea>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control ">
                                    <div class="button is-fullwidth" id="mailForm_submitButton">
                                        Submit&nbsp;&nbsp;
                                        <i class="fas fa-paper-plane"></i>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Contact Content -->
    </div>
    <!-- End Main Content -->

    <!-- Scripts -->
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
        AOS.init({
            easing: "ease-out",
            duration: 800,
        });
    </script>
{% endblock %}
