.title{
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 70px !important;

}

#error_container{
   padding: 200px 100px;
}

a{
    color: white !important;
    font-weight: bold;
}

.button{
    background-color: #039be5;
}