#page_container{
    background: #7986cb;
    margin-top: 40px;
}

.container{
    padding-top: 40px;
}

.table{
    color: #0a0a0a;
    background-color: #9fa8da;
    padding: 30px;
}

table{
    margin: 0 auto;
}

h2{
    background-color: rgba(31, 44, 108, 0.65);
    color: white;
    margin-top: 50px;
    padding: 10px 0;
    font-size:  26px;
    font-weight: 600;
    text-align: center;
}

abbr{
    text-decoration: none;
    color: rgba(31, 44, 108, 0.65);
    max-width: 300px;
}

td{
    color: rgba(31, 44, 108, 0.65);
    font-weight: 600;
}