.image_format_30{
    height: 0;
    position: relative;
    padding-bottom: 30%;
    overflow: hidden;
}

.image_format_70{
    height: 0;
    position: relative;
    padding-bottom: 60%;
    overflow: hidden;
}

.image_format_30 > img, .image_format_70 > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.button:hover{
    border-color: rgba(31, 44, 108, 0.65);
    color: rgba(31, 44, 108, 0.65);
    background-color: white;
}

.button{
    color: white;
    background-color: rgba(31, 44, 108, 0.65);
    transition: all 0.4s ease;
}

.navbar .navbar-item {
    color: #e4e2ff;
}

.navbar .navbar-item.is-active {
    color: #e4e2ff;
    font-weight: 700;
}

.navbar .navbar-item:hover {
    background: transparent;
    color: white;
}

.navbar .navbar-item a {
    margin-left: 1rem;
    color: #e4e2ff;
}

.navbar{
    background-color: #1f2c6c;
    position: fixed;
    top: 0;
    font-weight: bold;
    left: 0;
    width: 100%;
}

#page_container{
    padding-bottom: 50px;
    padding-top: 50px;
    min-height: 100vh;
}

body{
    position: relative;
}

#footer{
    position: absolute;
    background-color: white;
    height: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 50px;
    padding-left: 20px;
    border-top: 2px solid #1f2c6c;
    color: #1f2c6c;
}

